
body
{
    font-family: 'PT Sans', 'Arial', sans-serif;
    line-height: 1;

    min-width: 1200px;
    margin: 0;
    background-color: #f2f2f2;
}

.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;
    padding: 0;

    border: 0;
}

.main-container
{
    overflow: hidden;

    width: 1200px;
    margin: 0 auto;

    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
            box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
}

.mini_container
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 72px;
    padding-left: 72px;
}

.header
{
    position: relative;
}


.navigation_logo
{
    position: absolute;
    top: 0;
    left: 50%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.navigation_list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 56px;
    margin: 0;
    padding: 0 72px;

    list-style-type: none;

    background-color: #fff;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.list_item
{
    font-weight: 700;

    width: 239px;
    margin: 0;
    padding: 19px 0;
}

.list_item:last-child,
.list_item:nth-child(3)
{
    text-align: right;
}

.list_item:nth-child(2)
{
    letter-spacing: .4px;
}

.list_item:nth-child(3)
{
    margin-left: 99px;

    letter-spacing: .4px;
}

.list_item a
{
    font-size: 14px;
    font-weight: 700;

    text-decoration: none;
    text-transform: uppercase;

    color: #000;
}

.list_item a:hover
{
    color: #81b3d2;
}

.list_item a:active
{
    opacity: .3;
}


/*Section Promo*/

.img_center
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 1px;
    min-height: 507px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.promo
{
    width: 1200px;

    background-color: #a9a9a9;
    background-image: url(../img/polygon.png), url(../img/background_photo.jpg);
    background-repeat: no-repeat;
    background-position: -1px 449px, 0 -82px;;
}

.promo-welcome
{
    padding-top: 76px;
}

.promo_text
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 216px;
    padding-top: 62px;
    padding-bottom: 58px;

    background-color: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.promo_text h2
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    width: 445px;
    margin: 0;
    margin-bottom: 32px;

    text-align: center;
    letter-spacing: .1px;
    text-transform: uppercase;

    color: #000;
}

.promo_description
{
    font-size: 14px;
    font-weight: 400;

    width: 500px;
    margin: 0;

    text-align: center;
    letter-spacing: .1px;
    text-transform: uppercase;

    color: #333;
}

.blue-back
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 400px;
    padding-top: 46px;
    padding-bottom: 59px;

    background-color: #81b3d2;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blue-back .benefit_first_header
{
    width: 124px;
    margin: 0;
}

.blue-back .benefit_first_header,
.benefit_second_header
{
    font-size: 21px;
    font-weight: 700;

    margin-bottom: 27px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
}

.blue-back span
{
    font-size: 14px;
    font-weight: 400;

    position: relative;

    margin-bottom: 25px;

    color: #fff;
}

.number::before
{
    position: absolute;
    top: 7px;
    right: 25px;

    width: 8px;
    height: 2px;

    content: '';

    background-color: #bcd6e6;
}

.number::after
{
    position: absolute;
    top: 7px;
    left: 25px;

    width: 8px;
    height: 2px;

    content: '';

    background-color: #bcd6e6;
}

.benefits_item span
{
    font-size: 14px;
    font-weight: 400;

    position: relative;

    margin-bottom: 25px;

    color: #000;
}

.number_black::before
{
    position: absolute;
    top: 7px;
    right: 25px;

    width: 8px;
    height: 2px;

    content: '';

    background-color: #979797;
}

.number_black::after
{
    position: absolute;
    top: 7px;
    left: 25px;

    width: 8px;
    height: 2px;

    content: '';

    background-color: #979797;
}

.blue-back .benefit_first_text
{
    width: 305px;
    margin: 0;
}

.blue-back .benefit_second_text
{
    width: 303px;
}

.blue-back p
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    margin: 0;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
}

.feature-picture
{
    width: 800px;

    background-image: url(../img/feature-picture.jpg);
    background-repeat: no-repeat;
}

.benefit_first
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 256px;

    background-color: #81b3d2;
}

.benefits_list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #fff;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.benefits_list li
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 400px;
    padding: 0;
    padding-top: 161px;
    padding-bottom: 82px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.benefits_item_wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.benefits_list__header
{
    font-size: 21px;
    font-weight: 700;

    position: relative;

    margin: 0;
    margin-bottom: 24px;

    text-align: center;
    text-transform: uppercase;

    color: #333;
}


/*Иконки для benefits_list*/

.benefits_icon
{
    position: relative;
}

.housing::before
{
    position: absolute;
    right: -38px;
    bottom: 28px;

    width: 75px;
    height: 72px;

    content: '';

    background-image: url(../img/icons/icon-1.svg);
}

.food::before
{
    position: absolute;
    bottom: 28px;
    left: -36px;

    width: 74px;
    height: 70px;

    content: '';

    background-image: url(../img/icons/icon-2.svg);
}

.souvenire::before
{
    position: absolute;
    bottom: 27px;
    left: -30px;

    width: 64px;
    height: 76px;

    content: '';

    background-image: url(../img/icons/icon-3.svg);
}


/**/

.benefits_list__text
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    width: 295px;
    margin: 0;

    text-align: center;
    text-transform: uppercase;

    color: #333;
}

.benefit_second
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background-color: #81b3d2;
}

.benefits_item h2
{
    font-size: 21px;
    font-weight: 700;

    margin: 0;
    margin-bottom: 28px;

    letter-spacing: .4px;
    text-transform: uppercase;

    color: #000;
}

.benefits_item .number
{
    font-size: 14px;
    font-weight: 400;

    margin: 0;

    color: #000;
}

.benefits_item p
{
    font-size: 14px;
    font-weight: 400;

    text-transform: uppercase;

    color: #000;
}

.canyon-picture
{
    width: 800px;

    background-image: url(../img/canyon.jpg);
    background-repeat: no-repeat;
}

.benefits_item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 400px;
    padding-top: 46px;
    padding-bottom: 63px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.benefit_second_header
{
    width: 151px;
    margin: 0;
    margin-bottom: 27px;
}

.benefit_rest
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background-color: #eee;
}

.benefit_rest_header
{
    width: 120px;
    margin-bottom: 27px;

    text-align: center;
}

.benefit_rest_text
{
    line-height: 21px;

    width: 265px;
    margin: 0;

    text-align: center;
}

.benefit_rest_text.last_item
{
    width: 259px;
}


/* Section booking*/

.booking
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-top: 48px;

    background-color: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main_form
{
    position: absolute;
    z-index: 2;
    top: 285px;
    right: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 568px;
    margin: 0 auto;
    padding: 55px;

    background-color: #fff;
    -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, .15);
            box-shadow: 0 7px 15px 0 rgba(0, 1, 1, .15);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.animation
{
    -webkit-animation: scale .5s;
            animation: scale .5s;
}



@-webkit-keyframes scale
{
    0%
    {
        -webkit-transform: translateY(-35%);
                transform: translateY(-35%);
    }

    100%
    {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}



@keyframes scale
{
    0%
    {
        -webkit-transform: translateY(-35%);
                transform: translateY(-35%);
    }

    100%
    {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
}


@-webkit-keyframes shake
{
    10%,
    90%
    {
        -webkit-transform: translate(2px, 0);
                transform: translate(2px, 0);
    }
    20%,
    80%
    {
        -webkit-transform: translate(-4px, 0);
                transform: translate(-4px, 0);
    }
    30%,
    50%,
    70%
    {
        -webkit-transform: translate(-2px, 0);
                transform: translate(-2px, 0);
    }
    40%,
    60%
    {
        -webkit-transform: translate(4px, 0);
                transform: translate(4px, 0);
    }
}


@keyframes shake
{
    10%,
    90%
    {
        -webkit-transform: translate(2px, 0);
                transform: translate(2px, 0);
    }
    20%,
    80%
    {
        -webkit-transform: translate(-4px, 0);
                transform: translate(-4px, 0);
    }
    30%,
    50%,
    70%
    {
        -webkit-transform: translate(-2px, 0);
                transform: translate(-2px, 0);
    }
    40%,
    60%
    {
        -webkit-transform: translate(4px, 0);
                transform: translate(4px, 0);
    }
}

.main_form_hidden
{
    visibility: hidden;
}

.main_form_error
{
    -webkit-animation: shake .6s;
            animation: shake .6s;
}

.form_group
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 460px;
    margin-bottom: 30px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.form_group input
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 344px;
    height: 38px;
    padding-left: 10px;

    border: none;
    background-color: #f2f2f2;
}

.form_group input:hover
{
    background: #ebebeb;
}

.form_group input:focus
{
    outline: 2px solid #e5e5e5;
    background: #fff;
}

.form_group_label
{
    font-size: 14px;
    font-weight: 700;

    width: 115px;

    letter-spacing: .3px;
    text-transform: uppercase;

    color: #000;
}

.form_group_input
{
    position: relative;
    display: flex;

}

.form_group input::-webkit-input-placeholder
{
    font-size: 14px;
    font-weight: 700;

    text-transform: uppercase;

    color: #000;
}

.form_group input::-moz-placeholder
{
    font-size: 14px;
    font-weight: 700;

    text-transform: uppercase;

    opacity: 1;
    color: #000;
}

.icon_calender
{
    position: absolute;
    top: 25%;
    right: 10px;

    width: 21px;
    height: 22px;
    padding: 0;

    cursor: pointer;

    border: none;
    background-color: transparent;
}

.icon_calender:hover path
{
    fill: #000;
}

.icon_calender:hover rect
{
    fill: #000;
}

.icon_calender:active path
{
    fill: #81b3d2;
}

.icon_calender:active rect
{
    fill: #81b3d2;
}

input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
}

input[type='number']
{
    -moz-appearance: textfield;
}


.group_kids .form_group_label
{
    width: 65px;
}

.group_adult
{
    display: flex;
    align-items: center;
}

.group_kids
{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.group_adult .plus_button
{
    position: relative;
    width: 38px;
    height: 38px;
    background: #f2f2f2;
    border: none;
    padding: 0;
    cursor: pointer;
}

.group_adult .minus_button
{
    position: relative;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    padding: 0;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

.group_kids .plus_button
{
    position: relative;
    width: 38px;
    height: 38px;
    border: none;
    background: #f2f2f2;
    cursor: pointer;
    padding: 0;
}

.group_kids .minus_button
{
    width: 38px;
    height: 38px;
    background: #f2f2f2;
    border: none;
    cursor: pointer;
    padding: 0;
}

.group_adult .minus_button
{
    position: relative;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    padding: 0;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

.minus_button::before
{
    position: absolute;
    top: 18px;
    left: 12px;

    width: 11px;
    height: 3px;

    content: '';

    background-color: #a9a9a9;
}

.plus_button::before,
.plus_button::after 
{   position: absolute;
    top: 18px;
    left: 11px;

    width: 11px;
    height: 3px;

    content: '';

    background-color: #a9a9a9;
}

.plus_button::after {
  transform: rotate(90deg);
}

.group_kids .minus_button
{
    width: 38px;
    height: 38px;
    background: #f2f2f2;
    border: none;
    cursor: pointer;
    padding: 0;
}

input.adult_input {
    width: 38px;
    text-align: center;
    padding: 0;
}

input.kids_input {
    width: 38px;
    text-align: center;
    padding: 0;
}

.plus_button:hover::before,
.plus_button:focus::before,
.minus_button:hover::before,
.minus_button:focus::before,
.plus_button:hover::after,
.plus_button:focus::after {
  background-color: #000;
}

.plus_button:active::before,
.plus_button:active::after,
.minus_button:active::before {
  background-color: #81b3d2;
}


.wrapper_form_groups
{
    min-height: 175px;
    margin-bottom: 25px;
}


/**/

.main_form_button
{
    font-size: 21px;
    font-weight: 700;

    display: block;

    width: 458px;
    height: 58px;
    padding: 0;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #81b3d1;
    cursor: pointer;
}

.main_form_button:hover
{
    background-color: #669ec0;
}

.main_form_button:active
{
    color: rgba(255, 255, 255, .3);
    background-color: #5496bd;
}

.booking__heading
{
    font-size: 30px;
    font-weight: 700;

    margin: 0;
    margin-bottom: 30px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
}

.booking__description
{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;

    width: 436px;
    margin: 0;
    margin-bottom: 48px;

    text-align: center;
    text-transform: uppercase;

    color: #333;
}

.form_trigger
{
    font-size: 21px;
    font-weight: 700;

    position: relative;
    z-index: 3;

    display: block;

    padding: 32px 140px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background-color: #766357;
    cursor: pointer;
}

.form_trigger:hover
{
    background-color: #604e43;
}

.form_trigger:active
{
    color: rgba(255, 255, 255, .3);
    background-color: #503e33;
}

.map_section img
{
    position: absolute;
    z-index: 0;
}

.map_frame {
    position: relative;
    z-index: 1;
}

/*Footer*/

footer
{
    position: relative;
    z-index: 1;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background-color: #fff;
}

.footer_transparent
{
    margin-top: -120px;

    background-color: rgba(255, 255, 255, .9);
}

.footer_wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 400px;
    padding-top: 34px;
    padding-bottom: 32px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer_transparent .footer_wrapper {
    padding-top: 32px;
}

.footer_wrapper:nth-child(1)
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}


.footer_contacts
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-left: 129px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.footer_transparent .footer_contacts {
    padding-left: 123px;
}


.footer_contacts a
{
    font-size: 21px;
    font-weight: 700;

    text-decoration: none;
    text-transform: uppercase;

    color: #000;
}

.footer_contacts a:nth-of-type(1)
{
    margin-bottom: 10px;
}

.footer_logo
{
    font-size: 14px;
    font-weight: 400;

    text-decoration: none;
    text-transform: uppercase;

    color: #000;
}

.footer_logo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer_logo svg
{
    width: 115px;
    height: 41px;
    margin-left: 8px;
}

.social
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.social_icon
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 46px;
    height: 48px;
    margin-right: 5px;

    background-color: #81b3d1;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social_icon:last-of-type
{
    margin-right: 0;
}

.social_icon:hover
{
    background-color: #669ec0;
}

.social_icon:active
{
    background-color: #5496bd;
}

.social_icon:active path
{
    fill-opacity: .3;
}

.footer_logo:hover path
{
    fill: #81b3d2;
}

.footer_logo:active path
{
    fill: #bdbbbc;
}


/* Catalog.html*/

.сurrent_page a
{
    color: #766357;
}


/*Микросетка для section.hotels*/



.hotels_items_main
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    background-color: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
}

.hotels_items img
{
    max-width: 100%;
    height: auto;
}

.hotels_image_item
{
    width: 135px;
    height: 90px;
}

.hotels_items_container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    border-bottom: 1px solid #e5e5e5;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.hotels_items_wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 1200px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 30px;
}

.hotels_item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
}

.hotel_item__details
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-left: 30px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.hotel_item__details h3
{
    margin: 0;
    margin-bottom: 12px;
    padding: 0;

    word-spacing: 2px;
}

.hotel_item__type
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 182px;
    margin-bottom: 18px;

    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}


.hotels_item .item_name
{
    font-size: 21px;
    font-weight: 700;

    text-transform: uppercase;

    color: #000;
}

.hotels_item .item_name:hover
{
    color: #81b3d2;
}

.hotels_item .item_name:active
{
    opacity: .3;
    color: #000;
}

.type,
.price
{
    font-size: 14px;
    font-weight: 400;

    text-transform: uppercase;

    color: #333;
}

.hotels_item a
{
    font-size: 14px;
    font-weight: 700;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
}

.rating
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    height: 1px;
    min-height: 90px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rating_star
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row-reverse;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.icon_star
{
    width: 18px;
    height: 18px;
    margin-left: 6px;
}

.icon_star:before
{
    position: absolute;

    width: 18px;
    height: 18px;

    content: '';

    background-image: url(../img/icons/star.svg);
    background-repeat: no-repeat;
}

.rating_description
{
    font-size: 14px;
    font-weight: 400;

    display: block;

    padding-top: 5px;
    padding-right: 13px;
    padding-bottom: 6px;
    padding-left: 16px;

    text-transform: uppercase;

    color: #666;
    background-color: #f2f2f2;
}


.hotel_item__buttons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hotels_item a:active
{
    color: rgba(255, 255, 255, .3);
}

.hotel_item__buttons a
{
    margin-right: 6px;
}
.hotel_item__buttons a:nth-last-child()
{
    margin-right: 0;
}

.more_button
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 110px;
    height: 1px;
    min-height: 27px;
    padding: 6px 16px;

    background-color: #81b3d2;
}

.more_button:hover
{
    background-color: #669ec0;
}

.more_button:active
{
    opacity: 1;
    background-color: #5496bd;
}

.reservation_button
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 142px;
    height: 1px;
    min-height: 27px;
    padding: 6px 16px;

    background-color: #766357;
}

.reservation_button:hover
{
    background-color: #604e43;
}

.reservation_button:active
{
    background-color: #503e33;
}


/* Hotel form*/

.hotels_filters
{
    min-height: 217px;
    padding-top: 27px;
    padding-bottom: 34px;

    background-image: url(../img/filter-background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.hotels_form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fieldset_wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hotels_form fieldset
{
    margin: 0;
    padding: 0;

    border: 0 none;
}

.hotels_form fieldset:nth-of-type(1)
{
    margin-right: 119px;
}

.hotels_form fieldset:nth-of-type(2)
{
    margin-right: auto;
}

.hotels_form__legend
{
    font-size: 16px;
    font-weight: 700;

    margin-bottom: 32px;

    text-transform: uppercase;

    color: #fff;
}

.hotels_form__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 32px;
}

.label_name
{
    font-size: 14px;
    font-weight: 400;

    text-transform: uppercase;

    color: #fff;
}

.hotel_form__wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.hotels_form__item:last-child
{
    margin-bottom: 0;
}

/*Сортировка*/

.search_section
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-top: 30px;
    padding-bottom: 33px;

    border-bottom: 1px solid #e5e5e5;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.search_wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    background-color: #fff;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search_results
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    height: 1px;
    min-height: 22px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.search_results_header
{
    font-size: 21px;
    font-weight: 700;

    margin: 0;
    margin-right: 49px;

    text-transform: uppercase;

    color: #000;
}

.sorting_filter
{
    font-size: 12px;
    font-weight: 400;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 730px;
    margin: 0;
    padding: 0;

    list-style: none;

    text-transform: uppercase;

    color: #000;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.sorting_filter li
{
    margin-right: 33px;
}

.sorting_filter li:last-child
{
    margin-right: 0;
}

.sorting
{
    font-size: 12px;
    font-weight: 400;

    margin-right: 40px;

    text-transform: uppercase;

    color: #000;
}

.sorting_filter_item
{
    font-size: 12px;
    font-size: 12px;
    font-weight: 400;

    cursor: pointer;

    opacity: .3;
    color: #000;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
}

.search_results_switch
{
    width: 35px;
}

.search_results_switch button
{
    cursor: pointer;
}

.sorting_filter_item.current_item
{
    color: #81b3d2;
}

.sorting_filter_item.inactive_item
{
    border-bottom: 1px dashed #81b3d2;
}

.sorting_filter_item:hover
{
    color: #81b3d2;
}

.sorting_filter_item:active
{
    opacity: 1;
    color: #000;
    border-bottom: none;
}


/*Кнопки переключения сортировки*/

.arrow_up
{
    padding: 0;

    border: none;
    background-color: transparent;
}

.arrow_up-svg path:hover
{
    fill: #000;
}

.arrow_up-svg path:active
{
    fill: #81b3d2;
}

.arrow_down
{
    margin-left: 7px;
    padding: 0;

    border: none;
    background-color: transparent;
}

.arrow_down-svg path:hover
{
    fill: #000;
}

.arrow_down-svg path:active
{
    fill: #81b3d2;
}


/*Чекбоксы у подписей*/

.hotels_form__item input[type='checkbox']
{
    position: absolute;

    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
}

.hotels_form__item label
{
    position: relative;

    padding-left: 40px;
}

.hotels_form__item label::before
{
    position: absolute;
    bottom: -5px;

    width: 23px;
    height: 23px;
    margin-left: -40px;

    content: '';

    background-image: url(../img/icons/checkbox-off.svg);
}

.hotels_form__item label:hover {
    cursor: pointer;
}

.hotels_form__item input[type='checkbox']:checked + label::before
{
    width: 25px;
    height: 23px;

    background-image: url(../img/icons/checkbox-on.svg);
}

.hotels_form__item input[type='checkbox']:focus + label::before
{
    outline: 2px dotted #fff;
}



.hotels_form__item label:focus::before
{
    outline: 2px dotted #fff;
    
}

.hotels_form__item input[type='checkbox']:disabled + label::before
{
    width: 25px;
    height: 23px;

    background-image: url(../img/checkbox_off_3.png);
    background-repeat: no-repeat;
}


/*Фильтр цен*/

.filter_range
{
    font-family: 'PS Sans';

    width: 330px;
    margin: 50px auto;

    text-transform: uppercase;

    color: #fff;
}

.filter_range_title
{
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;

    margin-bottom: 10px;

    letter-spacing: 0.2px;
    text-transform: uppercase;

    color: #fff;
}

.price_controls
{
    position: relative;

    height: 34px;
    margin-bottom: 19px;

    border: 2px solid #fff;
    border-radius: 2px;
}

.price_controls::after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    content: '';
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    background: #fff;
}

.price_controls label
{
    font-size: 14px;
    line-height: 38px;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;
    text-transform: uppercase;

    color: #fff;
}

.price_controls .min_price
{
    width: 89px;
    padding-left: 65px;
}

.price_controls .max_price
{
    width: 102px;
    padding-left: 53px;
}

.price_controls input
{
    font: inherit;
    line-height: 100%;

    width: 50px;
    margin: 0;

    color: inherit;
    border: none;
    background: none;
}

.range_controls
{
    position: relative;

    margin-bottom: 33px;
}

.range_controls .scale
{
    height: 2px;

    background: rgba(255, 255, 255, .3);
}

.range_controls .bar
{
    width: 80%;
    height: 2px;

    background: #fff;
}

.range_toggle
{
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}


.range_toggle:hover
{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);

    background: #1c4f80;
}

.range_toggle_min
{
    left: 0;
}

.range_toggle_max
{
    left: 80%;
}

.filter_range_button
{
    font-size: 14px;
    line-height: 1;

    display: block;

    margin: 0 auto;
    margin-left: 86px;
    padding: 9px 33px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
}

.filter_range_button:hover
{
    color: #000;
    background: #fff;
}
