body {
    background-color: #f2f2f2;
    font-family: 'PT Sans', 'Arial', sans-serif;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.main_form {
    display: none;
}

.promo {
    background-image: url(../img/background_photo.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 800px;
}

.promo_text {
    background-color: #fff;
}

.blue-back {
    background-color: #81b3d2;
}

.gray-back {
    background-color: #eeeeee;
}

.navigation_list {
    list-style-type: none;
}

.list_item a  {
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    list-style-type: none;
    text-decoration: none;
  }

.list_item a:hover {
    color: #81b3d2;
  }

.list_item a:active {
    opacity: 0.3;
  }

.promo_text h2 {
    color: #000000;
    font-family: "PT Sans";
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.promo_description {
    color: #333333;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.booking__heading {
    color: #000000;
    font-family: "PT Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.booking__description {
    color: #333333;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer_contacts a {
    font-family: "PT Sans";
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.footer_logo {
    color: #000000;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer_logo img {
    color: #231f20;
}

.footer_logo img:hover{
    fill: #81b3d2;
}

.hotels__item .item__name {
    color: #000000;
    font-family: "PT Sans";
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.hotels__item .item__name:hover {
    color: #81b3d2;
}

.hotels__item .item__name:active{
    color: #000000;
    opacity: 0.3;
}

.type, .price {
    color: #333333;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.hotels__item a {
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}

.rating_description {
    color: #666666;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.hotels__item a:active{
    opacity: 0.3;
}

.details {
    background-color: #81b3d2;
}

.details:hover {
    background-color: #669ec0;
}

.details:active{
    background-color: #5496bd;
}

.reservation {
    background-color: #766357;
}

.reservation:hover {
    background-color: #604e43;
}

.reservation:active{
    background-color: #503e33;
}

.canyon-picture {
    background-image: url(../img/canyon.jpg);
    background-repeat: no-repeat;
    width: 800px;
    height: 400px;

}

.blue-back h2{
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.blue-back span {
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.blue-back p {
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.feature-picture {
    background-image: url(../img/feature-picture.jpg);
    background-repeat: no-repeat;
    width: 800px;
    height: 400px;
}

.benefits_list {
    list-style: none;
}

.benefits_list__header {
    font-family: "PT Sans";
    color: #333333;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.benefits_list__text {
    color: #333333;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.benefits_item h2 {
    font-family: "PT Sans";
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.benefits_item .number {
    font-family: "PT Sans";
    color:#000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.benefits_item p {
    font-family: "PT Sans";
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.hotels_form {
    background-image: url(../img/filter-background.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 562px;
}

.hotels_form fieldset {
    border: 0 none;
}

.hotels_form legend {
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.label_name {
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.form_button {
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}


